// main: main.less

// Стилизация и размещение хэдэра и dropdown'ов

.header {
    &-panel {
        position: fixed;
        z-index: 6;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 30px 0 30px 30px;
        //padding-right: 0px;
        //font-weight: bold;
        font-size: 20px;
        color: white;

        & > div {
            position: absolute;
            z-index: 3;
        }

        &-bg {
            //box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            z-index: 1 !important;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: white;
            width: 100%;
            height: 100%;
            transition: opacity 0.2s ease-out;
        }
    }

    &-slider {
        //position: absolute;
        width: 100%;
        //height: 100vh;
        //height: calc(~"var(--vh, 1vh) * 100");
        z-index: 1;
    }

    &-text {
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        color: white;
        transition: background-color 0.2s ease-out;

        @media screen and (max-width: 1200px) {
            font-size: 11px;
        }

        @media screen and (max-width: 1099px) {
            color: #000;
        }
    }

    &-phone {
        padding-top: 9px;

        @media screen and (min-width: 1100px) {
            left: 285px;
            width: 120px;
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            left: 310px;
            width: 185px;
        }

        @media screen and (max-width: 1100px) {
            left: 260px;
        }

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    &-logo {
        & > a > img {
            @media screen and (min-width: 1100px) {
                height: 40px;
                width: 250px;
            }

            @media screen and (max-width: 1100px) {
                height: 32px;
                width: 200px;
            }
        }
    }

    &-nav {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2 !important;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        //width: 100%;

        & > div {
            margin-right: 20px;

            & > a {
                &:hover {
                    cursor: pointer;
                    color: @highlight !important;
                }
            }
        }
    }
}

.nav {
    // background-color: #000;
    display: inline-block;
    height: 60px;
    position: fixed;
    z-index: 10;
    clear: both;
    text-transform: uppercase;
}

.dropbtn {
    //background-color: white;
    //background-color: #4CAF50;
    //color: white;
    //padding: 16px;
    //font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

    &-header {
        min-width: 120px;

        @media screen and (min-width: 1100px) {
            transform: translateX(-50%);
            left: calc(50%);
            top: 15px;
            margin-top: 25px;
        }
    }

    &-header-root {
        @media screen and (min-width: 1100px) {
            top: -10px;
            margin-top: 0;
        }
    }

    &-content {
        display: none;
        position: absolute;
        z-index: 1;
        padding: 8px 0;
        text-transform: capitalize;

        background-image: none;
    }

    &-content-root {
        @media screen and (min-width: 1100px) {
            z-index: -1;
            padding: 50px 0px 8px;
        }
    }

    &-item {
        margin: 0 auto;
        padding: 8px 16px;
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        text-align: left;

        @media screen and (min-width: 1100px) {
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);

                > .dropdown-link {
                    color: @highlight !important;
                }
            }
        }

        &-submenu {
            @media screen and (min-width: 1100px) {
                &:hover .dropdown-submenu-icon {
                    transform: rotate(90deg);
                }
            }

            @media screen and (max-width: 1100px) {
                padding: 0;
            }
        }
    }

    &-link {
        color: black;
        font-weight: 400;
        text-decoration: none;
        width: 100%;
        margin: -8px -16px;
        padding: 8px 16px;

        &-mobile {
            display: none;
        }
    }

    // Такой селектор нужен для усиления приоритета по сравнению с библиотекой fa
    & .dropdown-menu-icon {
        @media screen and (max-width: 1100px) {
            display: none;
        }

        margin-left: 6px;
        transition: transform 0.2s ease;
    }

    @media screen and (min-width: 1100px) {
        &-menu-icon {
            display: block;
        }

        &:hover .dropdown-menu-icon {
            transform: rotate(-180deg);
        }
    }

    &-submenu {
        min-width: 120px;

        @media screen and (min-width: 1100px) {
            top: -8px;
            left: calc(100%);
        }

        @media screen and (max-width: 1100px) {
            margin-left: auto;
        }

        &-link {
            font-weight: 400;
        }

        &-icon {
            margin-left: auto;
            transition: transform 0.2s ease;

            @media screen and (max-width: 1100px) {
                display: none !important;
            }

            &-mobile {
                margin-left: 16px;
                margin-right: auto;

                font-size: 1.25em;

                @media screen and (min-width: 1100px) {
                    display: none !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .dropdown {
        position: unset;
    }

    .menu-list {
        overflow: hidden;
        width: 200px;

        & .menu-list-item {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .main-list {
        transition: all 0.2s ease;
    }

    .dropdown-content {
        right: 0;
        padding: 0;

        display: block;
        visibility: hidden;
        top: 0;
        width: 100%;

        transform: translateX(-200px);

        transition: all 0.3s ease;

        &-active {
            //transform: translateX(0);
            visibility: visible;
        }

        &.dropdown-content-open {
            display: block;
        }
    }

    .dropdown-item {
        padding: 0;
        justify-content: flex-end;
    }

    .dropdown-link,
    .dropdown-submenu-link {
        margin: 0;
        padding: 15px 16px;
        width: unset;
        font-weight: 500;
        text-transform: uppercase;
    }

    a.dropdown-link {
        width: 100%;
        text-align: end;
    }

    .dropdown-link-mobile {
        display: flex;
    }
}

/* Show the dropdown menu on hover */
@media screen and (min-width: 1100px) {
    .dropdown:hover > .dropdown-content {
        display: block;
    }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    //background-color: #3e8e41;
    color: @highlight !important;
}

.menu {
    &-list {
        //box-shadow: 0 0 10px rgba(0,0,0,0.75);
        position: absolute;
        z-index: 5;
        display: none;
        margin: 60px 0 0 0;
        max-width: 240px;
        right: 0;

        @media screen and (max-width: 1100px) {
            background-color: white;
            max-height: 25em;
            //overflow-y: auto;
        }
        //	border-bottom: 5px solid rgba(0,0,0,0.2);
    }

    &-link {
        display: inline-block;
        //background-color: @lighterbg;
        box-sizing: content-box;
        //color: #000;
        //height: 1em;
        //font-size: 1em;
        //padding: 15px 16px;
        transition: background 0.2s;
        text-decoration: none;

        & > p {
            padding: 15px 16px;
            text-decoration: none;
        }
    }
}

.hamburger {
    display: block;

    li {
        height: 5px;
        background: #000;
        content: '';
        position: relative;
        transition: 0.5s ease-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 5px;
        }

        &:nth-child(3) {
            top: 10px;
        }
    }

    &-container {
        position: relative;
        z-index: 2;
        width: 38px;
        margin: 17px 20px;
        height: 30px;
        cursor: pointer;
        float: right;
    }
}

@media screen and (min-width: 1100px) {
    .hamburger-container {
        display: none;
    }

    .menu-list {
        margin-right: 20px;
        display: inline;
        text-align: left;
        width: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0);

        &-item {
            display: inline-block;
            margin-right: -5px;
        }
    }

    .menu-link {
        margin-top: 10px;
        width: auto;
    }
}

.disable {
    display: none !important;
}
